---
import AposArea from '@apostrophecms/apostrophe-astro/components/AposArea.astro';

const { aposData } = Astro.props;
const footer = aposData?.global?.footer;
const hasItems = footer?.items?.length > 0;
---

<footer class='footer'>
  <div class='footer__section'>
    {hasItems
      ? <AposArea area={footer} />
      : <p class='footer__placeholder'>Footer content is empty. Edit the Global doc's Footer tab to add widgets.</p>}
  </div>
</footer>
