---
const { page } = Astro.props.aposData;
---

<div class="page-title-wrapper">
  <h1 class="page-title">Not Found</h1>
</div>

<div class="layout">
  <main>
    <section class="bp-content">
      <p>Sorry, that page was not found.</p>
    </section>
  </main>
</div>
