.footer {
  margin-top: 5rem;
  background-color: var(--surface-color);
  padding: 3rem 0;
  border-top: 1px solid var(--faint-color);
}

.footer__section {
  max-width: var(--max-layout-width);
  margin: 0 auto;
  padding: 0 20px;
}

.footer__placeholder {
  opacity: 0.6;
  font-style: italic;
  text-align: center;
}
